* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body 
{
    background-color: rgb(0, 0, 0);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

h1
{
    color: white;
    margin-bottom: 120px;
}

.container 
{
    flex-direction: column;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 90vh;
}

.counter {

    position: relative;
    width: 50vw;
    height: 1vh;
}

.back {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: aquamarine;
    z-index: 1; 
}

.front 
{
    position: absolute;
    top: 0;
    left: 0;
    width: 0%; 
    height: 100%;
    background-color: rgb(0, 110, 255);
    z-index: 2; 
    transition: width 0.3s ease; 
}

.text
{
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 3rem;
    color: rgb(255, 255, 255); 

}